<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>



<header th:insert="blocks/header::header"></header>
<main class="main">
    <div class="container">
        <h2>Мы - это не мы, а Я.</h2>
        <img class="fakeimg" src="https://sun9-36.userapi.com/impg/vQDDvp3UNT4eTwBzHTEkchfZqugcO0j72D4tFg/ut9snzRDzDs.jpg?size=1079x1080&quality=96&sign=d426e01be07e63847ecc3191445d2d5e&type=album" alt="">
        <h5>Багишев Багиш Ифтихарович</h5>
        <p>ИКПИ-85</p>
        <p>Кто прочитал, тому сегодня повезет.</p>
        <br>
    </div>
</main>


</body>
</html>

